<div class="center_div_comment">
  <% if comment.approved == ["approved"] %>
    <hr class="devidepost">
    <div class="commentbody"><%= comment.body %></div>
    </br>
    <ul style="font-size:12px">
    <span style="color:green"><%= comment.user.first_name %></span>
    <span style="padding-left:20px;"><%= time_ago_in_words((comment.created_at)) %> ago</span></ul>
    <% if current_user && user_signed_in? %>
    <% if [comment.liker_id].any? { |l| l&.include?(current_user.id)} %>
    </br>
      <ul class="links-on-span" style="font-size:14px; background:#F5FFFA" >
        <span><%= link_to "Unlike", unlike_comment_path(comment, like: true), remote: true, method: 'delete', class:"unlikecomment" %></span>
    <% else %>
        <span><%= link_to "Like", like_comment_path(comment, like: true), remote: true, method: 'post', class:"likecomment" , style:"padding-left:15px;"%></span>
    <% end %>
    <% end %>
    <% if comment.liker_id.size > 0 %>
        <span class="fa fa-thumbs-o-up" style=" padding-left:15px; color:blue"><%= pluralize( comment.liker_id&.count, "like") %></span>
    <% end %>
    <% if current_user && user_signed_in? && comment.user_id == current_user.id || current_user && current_user.admin? %>
        <span style="color:blue" style=" padding-left:15px;"><%= link_to "Delete", comment_path(comment), data: {confirm: 'Are you sure?'},  method: :delete, remote: true,  class:"deletecomment", style:"padding-left:15px;" %></span>
        <span style="color:blue" style=" padding-left:15px;"><%= link_to 'Edit', edit_comment_path(:id => comment.id), id: "edit-comment_link", style:"padding-left:15px;"%></span>
    <% end %>
      <span style="color:blue" ><%= link_to  pluralize(comment.replies.count, "reply"), comment_replies_path(comment.id, @reply), remote: true, class:"viewreply", style:"padding-left:15px;" %></span>
    </br>

    <% if current_user && user_signed_in? %>
      <%= simple_form_for ([comment, comment.replies.new]), html: {id: "replycomment" }  do |f| %>
        <%= f.input :reply_body, as: :text, input_html: { ROWS: "2", WRAP:"HARD"}, placeholder: "Reply to this comment" %>
        <button type="submit" class="btn btn-success" id="submit" name="submit"/>Reply</button>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
