
	<section id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">

	 <div class="parallax-overlay"></div>
		<div class="row">

		<div class="centerflipcards">
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Sunday" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
			    					<div class="align-center">
			      					<h3 class="boxshadow kallyas-button" alt="">Sunday Service</h3>
			    					</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Sunday" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/sunday" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Tuesday" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
								<div class="square-container">
									<div class="align-center">
										<h3 class="boxshadow kallyas-button" alt=""><ul><li>Tuesday</li><li>Bible Study</li></ul></h3>
									</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Tuesday" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/tuesday" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Thursday" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt=""><ul><li>Thursday</li><li>Faith Clinic</li></ul></h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Thursday" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/thursday" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Fridaynightvigil" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt=""><ul><li>Friday</li><li>Night Vigil</li></ul></h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Fridaynightvigil" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/fridaynightvigil" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Youths" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt="">Glorious Youth</h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Youths" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/youth" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Childrens" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt="">Glorious Children</h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Childrens" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/children" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Women" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt="">Excellent Women</h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Women" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/women" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Hospital" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt="">Hospital Visit</h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Hospital" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/hospital" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
			<div class="square-flip">
					<% Page.all.each do |page| %>
						<% if page.page_type == "Community" %>
							<% page.pictures.each do |page_pc| %>
								<%= content_tag :div, '', class: 'square', data: { image: page_pc.image.url(:large) } do %>
			  					<div class="square-container">
										<div class="align-center">
											<h3 class="boxshadow kallyas-button" alt="">Community Help</h3>
										</div>
										<% Page.all.each do |page| %>
											<% if page.page_type == "Community" %>
												<h3><%= truncate(page.body, length: 70) %></h3>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag :div, '', class: 'square2', data: { image: asset_path('/images/langa4.jpg') } do %>
						<div class="square-container2">
							<div class="align-center"></div>
							<a href="/pages/filter/community" target="_blank" class="boxshadow kallyas-button">View Details</a>
						</div>
						<div class="flip-overlay"></div>
					</div>
				<% end %>
		</div>
		</div>
		</div>
	</section>
