<div class="container container-table past_events all_events" >
  <didv class="content" >
    <% @upcoming_events.each do |upcoming_event| %>
      <hr class="devidepost">
      <% if upcoming_event.starting_date.strftime('%Y-%m-%d %H:%M:%S') > DateTime.now.strftime('%Y-%m-%d %H:%M:%S') %>
        <h2  class="upcoming_title" style="background-color:white; font-weight:bold; text-align: center;"> Future Event </h2>
        </br>
        <div class="upcoming_title" style="background-color:white; font-weight:bold">
          <%= upcoming_event.title %>
        </div>
        </br>
        <div class="upcomings_body">
          <%= upcoming_event.body %>
        </div>
        </br>
        <div class="starting_date_class" style="text-align: center;">
          <%= upcoming_event.starting_date.strftime("Starting on:  %Y-%m-%d %H:%M:%S") %>
        </div>
        </br>
        <div class="end_date_class" style="text-align: center;">
          <%= upcoming_event.end_date.strftime("Ends on:  %Y-%m-%d %H:%M:%S") %>
        </div>
        </br>
        <div class="img img1.imgAlbum" >
          <% upcoming_event.pictures.each do |pic, remov| %>
            <%= image_tag(pic.image.url(:medium), class:"img-responsive all_events") if pic.image? %>
          <% end %>
        </div>
      <% end %>
      <% if upcoming_event.end_date.strftime('%Y-%m-%d %H:%M:%S') < DateTime.now.strftime('%Y-%m-%d %H:%M:%S') %>
        <h2  class="upcoming_title" style="background-color:white; font-weight:bold; text-align: center;"> Past Event </h2>
        </br>
        <div class="upcoming_title" style="background-color:white; font-weight:bold">
          <%= upcoming_event.title %>
        </div>
        </br>
        <div class="upcomings_body">
          <%= upcoming_event.body %>
        </div>
        </br>
        <div class="starting_date_class" style="text-align: center;">
          <%= upcoming_event.starting_date.strftime("Starting on:  %Y-%m-%d %H:%M:%S") %>
        </div>
        </br>
        <div class="end_date_class" style="text-align: center;">
          <%= upcoming_event.end_date.strftime("Ends on:  %Y-%m-%d %H:%M:%S") %>
        </div>
        </br>
        <div class="img img1.imgAlbum" >
          <% upcoming_event.pictures.each do |pic, remov| %>
            <%= image_tag(pic.image.url(:medium), class:"img-responsive all_events") if pic.image? %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
